

<h1>LEAGUE TEAMS</h1>


<table class="table table-hover">

  <thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">Team Name</th>
      <td>Team User</td>


      </tbody>


    </tr>
    <% @teams.all_except(@free_agent_team).each do |team| %>
    <tr>

      <th scope="col"><%= link_to "#{team.name}", team_path(team)  %></th>
      <% team.users.each do |user| %>
      <th scope="col"><%= link_to "#{user.username}", user_path(user)  %></th>
      <% end %>
      <% end %>
      
    </tr>

  </thead>
 
</table> 
<% if admin? == false %>
<div class= "btn btn-outline-success">
<h6><%= link_to "Create a Team", new_user_team_path(@current_user) %> </h6>
</div>
<% end %>
