<h1> Edit a Competition </h1>
<div class="jumbotron">
<div class="row">
<%= render 'form' %>

</div>
</div>
<%= button_to  "Delete Competition", competition_path, method: "delete", class: "btn btn-outline-success" %>
