<br>
<div class="row">
<p><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/National_Football_League_logo.svg/1200px-National_Football_League_logo.svg.png" alt="Trulli" style="padding: 10px; float:right;width:50px;height:60px;">
  <h1 class="display-6"> NFL Player Profile</h1>  
  <br>
  </div>
  <div class="row">

  <%= button_to "", filter_by_nfl_team_path(:nfl_team => "ARI"), method: "get", class: "btn btn-cardinals"  %>
  <%= button_to "", filter_by_nfl_team_path(:nfl_team => "ATL"), method: "get", class: "btn btn-falcons"  %>
  <%= button_to "", filter_by_nfl_team_path(:nfl_team => "BAL"), method: "get", class: "btn btn-ravens"  %>
  <%= button_to "", filter_by_nfl_team_path(:nfl_team => "BUF"), method: "get", class: "btn btn-bills"  %>


  </div>
  </div>
