

.floatLeft { width: 48%; float: left; }
.floatRight {width: 48%; float: right; }  

body {
    background-image: url("https://i.ibb.co/jDvsjwB/Untitled-design-6.png"), url("paper.gif");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size:cover;

  }

