<div class="jumbotron">
<div class="row">
<p><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/National_Football_League_logo.svg/1200px-National_Football_League_logo.svg.png" alt="Trulli" style="padding: 10px; float:right;width:50px;height:60px;">
  <h1 class="display-6"> NFL Fantasy Football Rails Application</h1>  
  </div>
  <p class="lead">This fantasy football application adheres to standard, not PPR rules.</p>
  <hr class="my-4">

  <h3><ul>Player Limits per team </h3>
  <li>(7) Players in total</li>
    <li>(1) QB per team</li>
    <li>(2) RB per team</li>
    <li>(2) WR per team</li>
    <li>(1) TE per team</li>
    <li>(1) K per team</li>
  </ul>
<br>

<h3><ul>Scoring - Quarterbacks (QB), Running Backs (RB), Wide Receivers (WR), Tight Ends (TE) </h3>
    <li> 6 pts per rushing or receiving TD</li>
    <li> 6 pts for player returning kick/punt for TD</li>
    <li> 6 pts for player returning or recovering a fumble for TD</li>
    <li> 4 pts per passing TD</li>
    <li> 2 pts per rushing or receiving 2 pt conversion (note: teams do not receive points
for yardage gained during the conversion)</li>
    <li> 2 pts per passing 2 pt conversion</li>
    <li> 1 pt per 10 yards rushing or receiving</li>
    <li> 1 pt per 25 yards passing</li>
  </ul>
<br>

<%= button_to  "Get Started", new_user_path, method: "get", class: "btn btn-outline-success" %>

</div>