<br>
<div class="jumbotron">
<div class="row">
<p><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/National_Football_League_logo.svg/1200px-National_Football_League_logo.svg.png" alt="Trulli" style="padding: 10px; float:right;width:50px;height:60px;">

  <h1 class="display-6"> NFL Fantasy Football Rails Application</h1>  
  </div>
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <%= button_to  "Get Started", new_user_path, method: "get", class: "btn btn-outline-success" %>

</div>